@import "tailwindcss";


*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  /* width: 100vw;
  height: 100vh; */
  background-color: black;
  color: white;
  background-color: #010331;  

}

@keyframes crousel{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}


@theme {
  --animate-crousel: crousel 25s linear infinite;
}

